* {
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

body {
  color: #efefef;
  background-color: #333;
  margin-bottom: 5em;
}

header {
  text-align: center;
  padding: 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.gallery__item {
  width: 300px;
  box-sizing: border-box;
  margin: 0;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
  overflow: hidden;
}

.gallery__item:hover {
  box-shadow: 0 0.5rem 1rem 0px rgba(0, 0, 0, 0.5);
}

.gallery__item:hover .gallery__image {
  filter: grayscale(0);
  transform: scale(1.25);
}

.gallery__image {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(0.75);
  transition: all 0.3s ease-in-out;
}
